<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-3 footer-image d-flex align-items-center">
                <img src="../../assets/image/Nunu.png" alt="logo" class="img-fluid">
            </div>
            <div class="col-md-3 text-center mt-5">
                <strong class="text-white">Sign up for our newsletter</strong>
                <form action="#">
                    <input type="email" id="form5Example21" class="form-control mt-2" placeholder="Email address..." />
                    <button type="submit" class="btn btn-outline-light mt-2">
                        Subscribe
                    </button>
                </form>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <strong class="text-white">Contact Us</strong>
                <p class="mt-2"><i class="bi bi-telephone text-white"> (+84) 984-739-845</i></p>
                <p class="mt-2"><i class="bi bi-geo-alt text-white"> Ha Noi, Viet Nam</i></p>
                <p class="mt-2"><i class="bi bi-envelope-paper-heart text-white"> NunuStores12@gmail.com</i></p>
            </div>
            <div class="col-md-3 footer-image mt-3 mb-3">
                <img src="../../assets/image/worldmap.png" alt="map">
            </div>
        </div>
    </div>
</div>